@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --BackColor: rgb(237, 241, 245);
    --fontsColor: rgb(57, 103, 253);
    --cellBorder: rgb(70, 145, 141);
    --borderRad: 15px;
    /* rgb(142, 194, 194) */
}


body {
    background-color: rgba(146, 160, 170, 0.993);
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    padding: 2vmin;
    font-family: 'Macondo', cursive;
    text-align: center;
}

label {
    text-align: left;
}

.header {
    height: fit-content;
    color: rgb(237, 241, 245);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--fontsColor);
    background-color: rgb(237, 241, 245);
    width: 50vmin;
    height: 30%;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 20vh;
}

.settings h3 {
    margin: 2%;
}

.heading {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.set-settings {
    width: 10%;
    height: 10%;
    border: none;
    cursor: pointer;
    position: relative;
    right: 5vmin;
    top: 15%;

}

.adv-settings-menu {
    width: 60vmin;
    height: 50vmin;
    background-color: rgb(224, 240, 239);
    opacity: 0.95;
    position: absolute;
    top: 25vmin;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(61, 132, 165);

    -webkit-box-shadow: 22px 16px 31px 20px rgba(31, 82, 88, 0.7); 
    box-shadow: 22px 16px 31px 20px rgba(31, 82, 88, 0.7);

}

.settings-head {
    width: 100%;
    height: 7vmin;
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    width: 10%;
    border: none;
    cursor: pointer;
    background-color: rgb(224, 240, 239);
}

.settings-content {
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.settings-content div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vmin;
    height: 5vmin;
    width: 100%;
    margin-bottom: 1vmin;
    /* border: 2px solid rgb(61, 132, 165); */
    border-radius: 5px;
}

.settings-content>div>input {
    margin-left: 2vmin;
}

.settings-content div:hover {
    background-color: rgb(61, 132, 165);
}

#timer-input {
    visibility: hidden;
    font-weight: 600;
    text-align: center;
    width: 10vmin;
    height: 3vmin;
}

#levels,
#difficulty {
    width: 40%;
    height: 15%;
    text-align: center;
    margin: 2%;
    border-radius: var(--borderRad);
}

.selectBtn {
    width: 60%;
    height: 15%;
    margin: 2%;
    border: 1px solid;
    border-radius: var(--borderRad);
    cursor: pointer;
}

.parent {
    display: none;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
}

.header-two {
    display: flex;
    flex-direction: row;
    width: 60vmin;
}

.mistakes {
    display: flex;
    width: 50%;
    color: rgb(8, 61, 61);
    font-size: 2.5vmin;
    font-weight: 900;
    
}

.timer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    color: rgb(8, 61, 61);
    font-size: 2.5vmin;
    font-weight: bolder;
}

.container {
    display: none;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: var(--BackColor);
    box-shadow: -5px -7px 8px 12px rgba(72, 149, 145, 0.87), 11px 11px 8px 11px rgba(67, 139, 135, 0.68);
    margin-top: 5vmin;
}

.square {
    display: grid;
    grid-template-columns: repeat(var(--square-size), var(--square-cell-size));
    grid-template-rows: repeat(var(--square-size), var(--square-cell-size));
    border: solid black 1px;
}

.cell {
    background-color: var(--cellBackground);
    border: 0.25px var(--cellBorder) solid;
    font-size: 4vmin;
    font-weight: bolder;
    color: rgb(11, 72, 90);
    text-align: center;
    line-height: 170%;
    cursor: pointer;

}

.cell:hover {
    transform: scale(1.2);
    border: 0.25px solid rgb(37, 92, 92);
}

.animated-cell {
    animation: appear 1s ease 0s normal none;
}

@keyframes appear {
    0.0% {
        background: #8EC2C2;
        opacity: 0.2;
    }

    47.8% {
        background: #8EC2C2;
        opacity: 1;
    }
}


.column-border {
    border-right: 1px solid black;
}

.left-column-border {
    border-left: 1px solid black;
}

.top-row-border {
    border-top: 1px solid black;
}

.row-border {
    border-bottom: 1px solid black;
}

.numbers-box {
    width: fit-content;
    height: 10%;
    padding: 0 3vmin;
    background-color: rgba(146, 160, 170, 0.993);
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 7vmin;
    height: 10vmin;
    padding-bottom: 1vmin;
    background-color: var(--cellBorder);
    margin: 0 1vmin;
    color: wheat;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 35%;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.2);
}

.number {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    color: white;
}

.remain {
    font-size: 2.5vmin;
    color: white;
}

.false {
    background-color: rgb(238, 74, 74);
    border: 0.25px var(--cellBorder) solid;
    font-size: 4vmin;
    color: white;
    text-align: center;
    line-height: 170%;
    cursor: pointer;
}

.clicked-cell {
    border: 0.25px var(--cellBorder) solid;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .settings {
        width: 50%;
        height: 30%;
    }
}